body {
  margin: 0;
  font: 14px arial;
  height: 1000px;
}
.header {
  background-image: url(images/bg1.jpg);
  background-size: cover;
  height: 686px;
  width: 100%;
  padding-top: 10px;
}

.contact ul,
.register ul {
  padding-left: 10px;
}

.contact ul li,
.register ul li {
  display: inline-block;
  padding-left: 10px;
  color: white;
  font-size: 15px;

  font-weight: bold;
}
.contact {
  float: left;
}

.register {
  float: right;
  padding-right: 20px;
  padding-bottom: 5px;
  line-height: 20px;
}

.register li a,
h1 a {
  text-decoration: none;
  color: white;
}

.register li {
  margin-left: 5px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 20px;
  height: 20px;
  padding-top: 2px;
}

.register li a:hover {
  color: greenyellow;
}
.contacticon img {
  padding-right: 7px;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.nav-info {
  height: 50px;
  border-bottom: 0.5px solid white;
}
.nav-bar {
  border-bottom: 1px solid white;
}

h1 {
  padding-left: 25px;
  font-size: 35px;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

.nav-list {
  float: right;
  position: relative;
  padding-top: 33px;
  left: 190px;
}
.nav-list ul li {
  display: inline-block;

  bottom: 6px;
  font-size: 18px;
  color: white;
  padding-right: 23px;
  line-height: 15px;
}

.nav-list ul {
  margin-top: 0px;
}
.nav-list .home a {
  color: greenyellow;
}
.nav-list a {
  text-decoration: none;
  color: white;
}
.nav-list a:hover {
  color: greenyellow;
}

.salam {
  margin-top: 150px;
  text-align: center;
}

.salam h2 {
  color: white;
  font: 50px bold courier;
  margin-bottom: 20px;
}

.salam p {
  max-width: 500px;
  text-align: center;
  margin: auto;
  color: white;
  line-height: 25px;
}

.tombol {
  margin-top: 40px;
}

.tombol ul li {
  display: inline-block;
  line-height: 40px;
  border: 1px solid white;
  background-color: transparent;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  width: 130px;
}

.tombol a {
  display: block;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.tombol .call {
  background-color: rgb(117, 185, 15);
}

.tombol .call:hover {
  background-color: transparent;
}

.tombol .book:hover {
  background-color: rgb(117, 185, 15);
}
